*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

footer{
    height: 150 px;
    padding: 25 px;
    text-align: center;
    background-color: #696565;
    color:#ffffff;
    }
.card-container{
    background-color: #ffffff;
}
.section-container{
height: 100vh;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.background-section-one{
    background-image: url(../assets/fundo_landind_page.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: repeat;
}

form{
    display: grid;
}
input {
    width: 100%;
    height: 30px;
    margin-bottom: 10 px;
    text-align: center;
    border-radius: 12 px;
    background: #000000;
    color: #ffffff;
}

.background-section-two{
    background-image: url(../assets/fundo2_landing_page.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: repeat;
}
#outcounter{
    display:grid;
    align-items: center;
    width: max-content;
}
#counter{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.count1{ 
    border: 3px solid rgb(175, 171, 171);
    margin: 0 30px 0 0; 
    width:30px; 
    height: 30px; 
    padding:20px;  
    border-radius: 10px; 
}

.count1title { 
    font: size 50px; 
    color:#ccc; 
    clear:both; 
}

#days {
    color:#f5f5f5;
}
#titlepromo{
    color: #f5f5f5;;
}